<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.oceanc.mybatis3.generator.plugin.mapper.TableTestSliceMonthMapper" >
  <resultMap id="BaseResultMap" type="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SLICE_MONTH_ID" property="sliceMonthId" jdbcType="TIMESTAMP" />
    <result column="JACKSON_ID1" property="jacksonId1" jdbcType="BIGINT" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
    <result column="JACKSON_ID2" property="jacksonId2" jdbcType="VARCHAR" />
    <result column="JACKSON_TIME" property="jacksonTime" jdbcType="TIMESTAMP" />
    <result column="COULD_SUM_COL" property="couldSumCol" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SLICE_MONTH_ID, JACKSON_ID1, VERSION, JACKSON_ID2, JACKSON_TIME, COULD_SUM_COL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonthExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    select 
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_${tableNameSuffix}
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    delete from TABLE_TEST_SLICE_${tableNameSuffix}
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonthExample" >
    delete from TABLE_TEST_SLICE_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TABLE_TEST_SLICE_${tableNameSuffix} (SLICE_MONTH_ID, JACKSON_ID1, VERSION, 
      JACKSON_ID2, JACKSON_TIME, COULD_SUM_COL
      )
    values (#{sliceMonthIdjdbcType=TIMESTAMP}, #{jacksonId1jdbcType=BIGINT}, 0, 
      #{jacksonId2,jdbcType=VARCHAR}, #{jacksonTime,jdbcType=TIMESTAMP}, #{couldSumCol,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TABLE_TEST_SLICE_${tableNameSuffix}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sliceMonthId != null" >
        SLICE_MONTH_ID,
      </if>
      <if test="jacksonId1 != null" >
        JACKSON_ID1,
      </if>
      VERSION,
      <if test="jacksonId2 != null" >
        JACKSON_ID2,
      </if>
      <if test="jacksonTime != null" >
        JACKSON_TIME,
      </if>
      <if test="couldSumCol != null" >
        COULD_SUM_COL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sliceMonthId != null" >
        #{sliceMonthId,jdbcType=TIMESTAMP},
      </if>
      <if test="jacksonId1 != null" >
        #{jacksonId1,jdbcType=BIGINT},
      </if>
      0,
      <if test="jacksonId2 != null" >
        #{jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="jacksonTime != null" >
        #{jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couldSumCol != null" >
        #{couldSumCol,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonthExample" resultType="java.lang.Integer" >
    select count(*) from TABLE_TEST_SLICE_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update <choose><when test="record.tableNameSuffix != null">TABLE_TEST_SLICE_${record.tableNameSuffix}</when><when test="example.tableNameSuffix != null">TABLE_TEST_SLICE_${example.tableNameSuffix}</when><otherwise>TABLE_TEST_SLICE_ </otherwise></choose>
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sliceMonthId != null" >
        SLICE_MONTH_ID = #{record.sliceMonthId,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jacksonId1 != null" >
        JACKSON_ID1 = #{record.jacksonId1,jdbcType=BIGINT},
      </if>
      VERSION = VERSION + 1,
      <if test="record.jacksonId2 != null" >
        JACKSON_ID2 = #{record.jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="record.jacksonTime != null" >
        JACKSON_TIME = #{record.jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couldSumCol != null" >
        COULD_SUM_COL = #{record.couldSumCol,jdbcType=INTEGER},
      </if>
      <if test="record.updateSql != null" >
        ${record.updateSql},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update <choose><when test="record.tableNameSuffix != null">TABLE_TEST_SLICE_${record.tableNameSuffix}</when><when test="example.tableNameSuffix != null">TABLE_TEST_SLICE_${example.tableNameSuffix}</when><otherwise>TABLE_TEST_SLICE_ </otherwise></choose>
    set ID = #{record.id,jdbcType=BIGINT},
      SLICE_MONTH_ID = #{record.sliceMonthId,jdbcType=TIMESTAMP},
      JACKSON_ID1 = #{record.jacksonId1,jdbcType=BIGINT},
      VERSION = VERSION + 1,
      JACKSON_ID2 = #{record.jacksonId2,jdbcType=VARCHAR},
      JACKSON_TIME = #{record.jacksonTime,jdbcType=TIMESTAMP},
      COULD_SUM_COL = #{record.couldSumCol,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    update TABLE_TEST_SLICE_${tableNameSuffix}
    <set >
      <if test="sliceMonthId != null" >
        SLICE_MONTH_ID = #{sliceMonthId,jdbcType=TIMESTAMP},
      </if>
      <if test="jacksonId1 != null" >
        JACKSON_ID1 = #{jacksonId1,jdbcType=BIGINT},
      </if>
      VERSION = VERSION + 1,
      <if test="jacksonId2 != null" >
        JACKSON_ID2 = #{jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="jacksonTime != null" >
        JACKSON_TIME = #{jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couldSumCol != null" >
        COULD_SUM_COL = #{couldSumCol,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonth" >
    update TABLE_TEST_SLICE_${tableNameSuffix}
    set SLICE_MONTH_ID = #{sliceMonthId,jdbcType=TIMESTAMP},
      JACKSON_ID1 = #{jacksonId1,jdbcType=BIGINT},
      VERSION = VERSION + 1,
      JACKSON_ID2 = #{jacksonId2,jdbcType=VARCHAR},
      JACKSON_TIME = #{jacksonTime,jdbcType=TIMESTAMP},
      COULD_SUM_COL = #{couldSumCol,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonthExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="sumByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMonthExample" resultType="long" >
    select sum(${sumCol}) from TABLE_TEST_SLICE_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
</select>
</mapper>