<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.oceanc.mybatis3.generator.plugin.mapper.TableTestSliceModMapper" >
  <resultMap id="BaseResultMap" type="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SLICE_MOD_ID" property="sliceModId" jdbcType="BIGINT" />
    <result column="JACKSON_ID1" property="jacksonId1" jdbcType="BIGINT" />
    <result column="JACKSON_ID2" property="jacksonId2" jdbcType="VARCHAR" />
    <result column="JACKSON_TIME" property="jacksonTime" jdbcType="TIMESTAMP" />
    <result column="COULD_SUM_COL" property="couldSumCol" jdbcType="INTEGER" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SLICE_MOD_ID, JACKSON_ID1, JACKSON_ID2, JACKSON_TIME, COULD_SUM_COL, VERSION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    select 
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    delete from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" >
    delete from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TABLE_TEST_SLICE_MOD_${tableNameSuffix} (SLICE_MOD_ID, JACKSON_ID1, JACKSON_ID2, 
      JACKSON_TIME, COULD_SUM_COL, VERSION
      )
    values (#{sliceModId,jdbcType=BIGINT}, #{jacksonId1,jdbcType=BIGINT}, #{jacksonId2,jdbcType=VARCHAR}, 
    #{jacksonTime,jdbcType=TIMESTAMP}, #{couldSumCol,jdbcType=INTEGER}, 0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sliceModId != null" >
        SLICE_MOD_ID,
      </if>
      <if test="jacksonId1 != null" >
        JACKSON_ID1,
      </if>
      <if test="jacksonId2 != null" >
        JACKSON_ID2,
      </if>
      <if test="jacksonTime != null" >
        JACKSON_TIME,
      </if>
      <if test="couldSumCol != null" >
        COULD_SUM_COL,
      </if>
      VERSION,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sliceModId != null" >
        #{sliceModId,jdbcType=BIGINT},
      </if>
      <if test="jacksonId1 != null" >
        #{jacksonId1,jdbcType=BIGINT},
      </if>
      <if test="jacksonId2 != null" >
        #{jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="jacksonTime != null" >
        #{jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couldSumCol != null" >
        #{couldSumCol,jdbcType=INTEGER},
      </if>
      0,
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" resultType="java.lang.Integer" >
    select count(*) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update <choose><when test="record.tableNameSuffix != null">TABLE_TEST_SLICE_MOD_${record.tableNameSuffix}</when><when test="example.tableNameSuffix != null">TABLE_TEST_SLICE_MOD_${example.tableNameSuffix}</when><otherwise>TABLE_TEST_SLICE_MOD_ </otherwise></choose>
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sliceModId != null" >
        SLICE_MOD_ID = #{record.sliceModId,jdbcType=BIGINT},
      </if>
      <if test="record.jacksonId1 != null" >
        JACKSON_ID1 = #{record.jacksonId1,jdbcType=BIGINT},
      </if>
      <if test="record.jacksonId2 != null" >
        JACKSON_ID2 = #{record.jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="record.jacksonTime != null" >
        JACKSON_TIME = #{record.jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couldSumCol != null" >
        COULD_SUM_COL = #{record.couldSumCol,jdbcType=INTEGER},
      </if>
      VERSION = VERSION + 1,
      <if test="record.updateSql != null" >
        ${record.updateSql},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update <choose><when test="record.tableNameSuffix != null">TABLE_TEST_SLICE_MOD_${record.tableNameSuffix}</when><when test="example.tableNameSuffix != null">TABLE_TEST_SLICE_MOD_${example.tableNameSuffix}</when><otherwise>TABLE_TEST_SLICE_MOD_ </otherwise></choose>
    set ID = #{record.id,jdbcType=BIGINT},
      SLICE_MOD_ID = #{record.sliceModId,jdbcType=BIGINT},
      JACKSON_ID1 = #{record.jacksonId1,jdbcType=BIGINT},
      JACKSON_ID2 = #{record.jacksonId2,jdbcType=VARCHAR},
      JACKSON_TIME = #{record.jacksonTime,jdbcType=TIMESTAMP},
      COULD_SUM_COL = #{record.couldSumCol,jdbcType=INTEGER},
      VERSION = VERSION + 1
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    update TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <set >
      <if test="sliceModId != null" >
        SLICE_MOD_ID = #{sliceModId,jdbcType=BIGINT},
      </if>
      <if test="jacksonId1 != null" >
        JACKSON_ID1 = #{jacksonId1,jdbcType=BIGINT},
      </if>
      <if test="jacksonId2 != null" >
        JACKSON_ID2 = #{jacksonId2,jdbcType=VARCHAR},
      </if>
      <if test="jacksonTime != null" >
        JACKSON_TIME = #{jacksonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couldSumCol != null" >
        COULD_SUM_COL = #{couldSumCol,jdbcType=INTEGER},
      </if>
      VERSION = VERSION + 1,
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceMod" >
    update TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    set SLICE_MOD_ID = #{sliceModId,jdbcType=BIGINT},
      JACKSON_ID1 = #{jacksonId1,jdbcType=BIGINT},
      JACKSON_ID2 = #{jacksonId2,jdbcType=VARCHAR},
      JACKSON_TIME = #{jacksonTime,jdbcType=TIMESTAMP},
      COULD_SUM_COL = #{couldSumCol,jdbcType=INTEGER},
      VERSION = VERSION + 1
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="sumByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" resultType="long" >
    select sum(${sumCol}) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
      <bind name="tableNameSuffix" value="items.get(0).getTableNameSuffix()" />
      insert into TABLE_TEST_SLICE_MOD_${tableNameSuffix}  (SLICE_MOD_ID, JACKSON_ID1, JACKSON_ID2, 
        JACKSON_TIME, COULD_SUM_COL, VERSION
        )
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.sliceModId,jdbcType=BIGINT}, #{item.jacksonId1,jdbcType=BIGINT}, #{item.jacksonId2,jdbcType=VARCHAR}, 
      #{item.jacksonTime,jdbcType=TIMESTAMP}, #{item.couldSumCol,jdbcType=INTEGER}, 0
        )
      </foreach>
    </if>
  </insert>
  <select id="minSliceModIByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" resultType="java.lang.Long">
    select min(SLICE_MOD_ID) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="minJacksonTimByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample" resultType="java.util.Date">
    select min(JACKSON_TIME) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="maxSliceModIByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample"  resultType="java.lang.Long">
    select max(SLICE_MOD_ID) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="maxJacksonTimByExample" parameterType="com.github.oceanc.mybatis3.generator.plugin.model.TableTestSliceModExample"  resultType="java.util.Date">
    select max(JACKSON_TIME) from TABLE_TEST_SLICE_MOD_${tableNameSuffix}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>